body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
  text-align: center;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 20px;
  flex-wrap: wrap;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
  opacity: 0.9;
}

.cta {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background: #00c6ff;
  color: black;
  font-weight: bold;
}

/* AVATARS */
.hero-avatars {
  display: flex;
  gap: 40px;
}

.avatar {
  background: white;
  color: black;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.avatar p {
  font-size: 14px;
  margin: 0;
}

/* COURSES */
.section-title {
  margin-top: 40px;
  font-size: 28px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  color: black;
  padding: 20px 30px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-8px);
}
/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 30px 20px;
}

.header img {
  width: 200px;
  height: auto;
}

.header h2 {
  font-size: 34px;
  letter-spacing: 1px;
  margin: 0;
  font-weight: bold;
}
.brand-text {
  text-align: left;
}

.mentor {
  margin: 0;
  font-size: 18px;
  color: #00e5ff;
  font-weight: 500;
}
/* CHAT PAGE */
.chat-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.message {
  padding: 12px 16px;
  margin: 10px 0;
  border-radius: 15px;
  max-width: 75%;
  line-height: 1.4;
}

.student {
  background: #ffffff;
  color: black;
  margin-left: auto;
}

.tutor {
  background: #00c6ff;
  color: black;
  margin-right: auto;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.input-area input {
  flex: 1;
  padding: 12px;
  border-radius: 20px;
  border: none;
}

.input-area button {
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #00c6ff;
  font-weight: bold;
}

